.post-preview {
  margin-bottom: $spacing-default * 2;
  padding: $spacing-default;
  
  background: $white-color url("/assets/svgs/leafs.svg") no-repeat 97% 95%;
  
  box-shadow: 0 0 .4rem rgba(0, 0, 0, .14);
  
  &.-thumbnail {
    display: grid;
    grid-template-columns: 300px auto;
    grid-column-gap: $spacing-default;
    padding: 0 $spacing-default 0 0;

    > .thumbnail {
      grid-row: 1 / 6;
    }
  }

  > .title {
    margin: $spacing-default 0 .5rem 0;
  }
}