.single-post {
  display: flex;
  flex-direction: column;

  > .thumbnail {
    order: -1;
    margin: -$spacing-default * 2;
  }

  > .header {
    display: flex;
    flex-direction: column;
    padding: $spacing-default 0 ($spacing-default + 1) 0;
    
    text-align: center;

    background: transparent url("/assets/svgs/leafs.svg") no-repeat center bottom;
    background-size: 40px;
    
    &.-thumbnail {
      position: relative;
      
      background-color: $white-color;

      transform: translateY(-$spacing-big);

      &::before,
      &::after {
        content: "";

        position: absolute;
        bottom: 0;

        border: 1px solid rgba($white-color, .6);
      }

      &::before {
        top: -$spacing-default;
        left: -$spacing-default;
        right: -$spacing-default;
      }

      &::after {
        top: calc(-#{$spacing-default} - 2px);
        left: calc(-#{$spacing-default} + 2px);
        right: calc(-#{$spacing-default} + 2px);
      }
    }

    > .title {
      padding: 0 $spacing-default;
      margin-bottom: 1rem;

      line-height: 1.3;

      color: $gray-color-darkest;
    }

    > .date {
      display: block;
      margin-bottom: 1rem;

      font-size: 14px;

      color: $gray-color;
    }

    > .category {
      display: block;
      order: -1;
      height: 35px;
      margin-bottom: $spacing-default;

      
      color: $white-color;
      background: transparent url("/assets/svgs/ribbon.svg") no-repeat center center;
      
      font: 600 12px/30px $sans-font, $fallback-font;
      text-transform: uppercase;
    }
  }
}