<form action="/" method="POST" class="contact-form" data-contact-form>
  <div class="input-group">
    <input type="text" name="name" class="input" aria-label="Dein Vor- und Nachname" placeholder="Vor- und Nachname *" required minlength="3">
  </div>

  <div class="input-group">
    <input type="email" name="email" class="input" aria-label="Deine E-Mail-Adresse" placeholder="E-Mail-Adresse *" required pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$">
  </div>

  <div class="input-group">
    <input type="tel" name="phone" class="input" aria-label="Dein Telefonnummer" placeholder="Telefonnummer">
  </div>

  <div class="input-group">
    <textarea name="message" class="input" aria-label="Deine Nachricht" placeholder="Deine Nachricht" rows="10" required minlength="10"></textarea>
  </div>

  <input type="checkbox" name="contact-by-fax-only" value="0" class="tricky js-tricky" tabindex="-1" aria-hidden="true">
  <button type="submit" class="button -block">Nachricht senden</button>
</form>