<footer class="main-footer">
  <div class="container">
    <div class="row">
      <section class="section">
        <h3 class="fancy-title">Über Uns</h3>
        <p>{{ site.description }}</p>
        <a href="https://www.leo-clubs.de/" target="_blank" rel="noopener">Leo-Clubs in Deutschland</a>
      </section>
      
      <section class="section">
        <h3 class="fancy-title">Aktionen</h3>
      
        {%- for post in site.posts limit: 2 -%}
          {%- include short-post.html -%}
        {%- endfor -%}
      </section>
        
      <section class="section">
        <h3 class="fancy-title">Galerie</h3>
        
        <figure class="image-gallery">
          {%- assign count = 0 -%}
          {%- for post in site.posts -%}
            {%- if post.thumbnail and count < 6 -%}
              {%- include image.html width="80" height="80" cat=post.categories src=post.thumbnail -%}
              {% assign count = count | plus: 1 %}
            {%- endif -%}
          {%- endfor -%}
        </figure>
      </section>
      
      <nav class="section">
        <h3 class="fancy-title">Menü</h3>
        <ul>
          <li><a href="/">Startseite</a></li>
          <li><a href="/aktionen/">Aktionen</a></li>
          <li><a href="/ueber-uns/">Über Uns</a></li>
          <li><a href="/mitglied-werden/">Mitglied werden</a></li>
          <li><a href="/kontakt/">Kontakt</a></li>
          <li><a href="/impressum/">Impressum</a></li>
          <li><a href="/datenschutz/">Datenschutz</a></li>
          <li><a href="/sitemap/">Sitemap</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="bottom">
    <div class="container inner">
      <nav class="social-footer">
        {%- for social_link in site.social_links -%}
          <a class="item" href="{{ social_link.url }}" target="_blank" rel="noopener" title="Der Leo-Club auf {{ social_link.name }}">
            <svg class="icon" width="14" height="14">
              <use xlink:href="/assets/svgs/icons.svg#icon-{{ social_link.name | downcase }}"></use>
            </svg> {{ social_link.name }}
          </a>
        {%- endfor -%}
        </nav>
      <p class="copyright">&copy; {{ 'now' | date: '%Y' }} <a class="link" href="{{ site.url }}">Leo-Club Weil am Rhein</a>. Alle Rechte vorbehalten.</p>
    </div>
  </div>
</footer>