<nav class="main-navigation">
  <div class="container inner">
    <a href="{{ site.url }}" class="site-logo">
      <span class="banner -dark" aria-hidden="true">Leo-Clubs</span>
      <span class="title">{{ site.title }}</span>
      <span class="subtitle">Seit 2009</span>
    </a>

    {%- for node in site.data.menus.header -%}
      <a href="{{ node.url }}" class="item{% if page.url == node.url or page.path contains '_posts/' and node.url == '/aktionen/' %} -active{% endif %}">{{ node.title }}</a>
    {%- endfor -%}
  </div>
</nav>