<aside class="main-sidebar">
  <section class="section">
    <h3 class="fancy-title">Über Uns</h3>
    <p class="_center">{{ site.description }}</p>
  </section>

  <section class="section">
    <h3 class="fancy-title">Netzwerke</h3>
    <p class="_center">Folgen Sie uns in den sozialen Netzwerken, um keine Neuigkeiten zu verpassen!</p>
    <ul class="social-sidebar _list">
      {%- for item in site.social_links -%}
        {% include social-icon.html url=item.url name=item.name list=true %}
      {%- endfor -%}
    </ul>
  </section>

  <section class="section">
    <h3 class="fancy-title">Aktuelles</h3>

    {%- for post in site.posts limit: 2 -%}
      {%- include short-post.html -%}
    {%- endfor -%}
  </section>

  <section class="section">
    <h3 class="fancy-title">Kategorien</h3>
    <ul>
      {%- for category in site.categories -%}
        <li><a href="#">{{ category | first | strip_html }}</a></li>
      {%- endfor -%}
    </ul>
  </section>
</aside>