.button {
  display: inline-block;
  padding: .7rem $spacing-default;

  border: none;
  border-radius: 2px;

  font: 600 14px $sans-font, $fallback-font;
  text-transform: uppercase;

  color: $white-color;
  background-color: $yellow-color;

  outline: none;
  appearance: none;

  transition: background-color .1s linear;

  &:hover, &:focus {
    background-color: $gray-color-darkest;
  }

  &[disabled] {
    background-color: lighten($yellow-color, 10%);
    cursor: not-allowed;
  }

  &.-block {
    width: 100%;
  }
}

.more {
  display: inline-block;

  color: $yellow-color;

  text-transform: uppercase;
  font-weight: 700;

  &:hover, &:focus {
    color: $gray-color-darkest;
  }
}