.contact-form {
  margin-top: $spacing-default * 2;

  @media (min-width: 600px) {
    display: flex;
    flex-wrap: wrap;
    
    > .left {
      flex: 1;
      margin-right: 1rem;
    }
    
    > .right {
      flex: 1;
    }
  }
  
  .tricky {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .message {
    font: 600 13px $sans-font, $fallback-font;
    text-align: center;

    &.-error {
      color: $red-color;
    }

    &.-success {
      color: $green-color;
    }
  }
}