.input {
  padding: .8rem $spacing-default;
  width: 100%;

  border: 1px solid $gray-color-light;
  border-radius: 2px;

  font: 400 14px $sans-font, $fallback-font;

  color: $gray-color-dark;
  background-color: transparent;

  outline: none;
  appearance: none;
  transition: border-color .1s linear;

  &.-error {
    border-color: $red-color !important;
  }

  &:hover {
    border-color: darken($gray-color-light, 10%);
  }

  &:focus {
    border-color: $gray-color;
  }
}

.input-group {
  position: relative;

  > .error {
    position: absolute;
    top: 1px;
    left: 0;
    margin: 0;
    padding: .2rem .5rem;
    
    font: 600 12px $sans-font, $fallback-font;

    background-color: $red-color;
    color: $white-color;

    border-radius: 2px;

    transform: translateY(-100%);
  }
}