._center {
  text-align: center;
}

._list {
  padding-left: 0;
  margin: 0;
  
  list-style: none;
}

.banner {
  display: block;
  order: -1;
  height: 35px;
  margin-bottom: 1rem;

  color: $white-color;
  background: transparent url("/assets/svgs/ribbon-light.svg") no-repeat center center;
  
  font: 600 12px/30px $sans-font, $fallback-font;
  text-transform: uppercase;
  
  &.-dark {
    background-image: url("/assets/svgs/ribbon-dark.svg");
  }
}