.fancy-title {
  padding: .6rem 1rem;
  position: relative;

  text-align: center;
  font-size: 18px;

  border-radius: 2px;

  background-color: $gray-color-darkest;
  color: $white-color;

  &::before {
    position: absolute;
    left: $spacing-default;
    top: 0;
    
    width: 100px;
    height: 100%;
    
    background: transparent url("/assets/svgs/left-arrow.svg") no-repeat left center;
    filter: brightness(10);
    content: "";
  }

  &::after {
    position: absolute;
    right: $spacing-default;
    top: 0;
    
    width: 100px;
    height: 100%;
    
    background: transparent url("/assets/svgs/right-arrow.svg") no-repeat right center;
    filter: brightness(10);
    content: "";
  }
}

._center {
  text-align: center;
}

._list {
  padding-left: 0;
  margin: 0;
  
  list-style: none;
}

.banner {
  display: block;
  order: -1;
  height: 35px;
  margin-bottom: $spacing-default;

  color: $white-color;
  background: transparent url("/assets/svgs/ribbon.svg") no-repeat center center;
  
  font: 600 12px/30px $sans-font, $fallback-font;
  text-transform: uppercase;
}