.container {
  max-width: $max-width;
  margin: auto;
  padding: 0 $spacing-default;
}

.row {
  display: flex;
  margin: 0 -1rem;
}

.has-sidebar {
  display: flex;

  > .main-content {
    flex: 1 1 70%;
  }

  > .main-sidebar {
    flex: 1 1 30%;
  }
}