.container {
  max-width: $max-width;
  margin: auto;
  padding: 0 $spacing-default;
}

#site-content {
  display: flex;
}

#site-posts,
#site-post {
  flex: 1 1 70%;
}

#site-sidebar {
  flex: 1 1 30%;
}