html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  background-color: $gray-color-lightest;
}

img, svg {
  vertical-align: middle;
  max-width: 100%;
}

figure {
  margin: 0;
}

button::-moz-focus-inner {
  border: 0;
}

input:-webkit-autofill {
  -webkit-text-fill-color: current color;
  box-shadow: 0 0 0 30px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: $gray-color;
}

main {
  display: block;
}