// Colors
$yellow-color:       rgb(239, 181, 75);
$white-color:        rgb(255, 255, 255);
$gray-color-darkest: rgb(37, 37, 37);
$gray-color-dark:    rgb(124, 124, 124);
$gray-color:         rgb(154, 154, 154);
$gray-color-light:   rgb(233, 233, 233);
$gray-color-lightest:rgb(246, 246, 246);

// Fonts
$serif-font:         "Lora";
$sans-font:          "Open Sans";
$fallback-font:      system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;

// Dimensions
$max-width:          1170px;
$spacing-default:    1.5rem;
$spacing-big:        4rem;