// Colors
$yellow-color:       #efb54b;
$white-color:        #ffffff;
$gray-color-darkest: #252525;
$gray-color-dark:    #404040;
$gray-color:         #9a9a9a;
$gray-color-light:   #e9e9e9;

// Fonts
$serif-font:         "Lora";
$sans-font:          "Open Sans";
$fallback-font:      system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;

// Dimensions
$max-width:          1170px;