.content-tile {
  padding: $spacing-default;
  margin-bottom: $spacing-default;

  background-color: $white-color;
  
  box-shadow: 0 0 .4rem rgba(0, 0, 0, .14);

  @media (max-width: 800px) {
    padding: 1rem;
  }

  &:last-child:not(.-no-margin) {
    margin-bottom: 0;
  }

  &.-big {
    padding: $spacing-default * 2;

    @media (max-width: 800px) {
      padding: 1rem;
    }
  }
}