.fancy-image {
  position: relative;

  &::after, &::before {
    content: "";

    position: absolute;

    border: 1px solid rgba($white-color, .7);
  }

  &::after {
    top: $spacing-default;
    left: $spacing-default;
    right: $spacing-default;
    bottom: $spacing-default;
  }

  &::before {
    top: calc(#{$spacing-default} - 2px);
    left: calc(#{$spacing-default} + 2px);
    right: calc(#{$spacing-default} + 2px);
    bottom: calc(#{$spacing-default} - 2px);
  }
}