#site-header {
  margin-bottom: $spacing-big;
  
  background-color: $white-color;
  
  box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .07);
}

#site-navigation {
  @extend .container;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-default;

  > .item {
    margin: 0 $spacing-default;

    font: 700 14px $sans-font, $fallback-font;
    text-transform: uppercase;

    color: $gray-color-darkest;

    &:nth-child(2) { order: 1; }
    &:nth-child(3) { order: 2; }
    &:nth-child(4) { order: 5; }
    &:last-child { order: 6; }

    &:hover, &:focus, &.is-active {
      color: $yellow-color;
    }
  }
}

#site-logo {
  order: 4;
  margin: 0 $spacing-big;

  text-align: center;

  > #title {
    color: $yellow-color;

    font-weight: 700;
    font-size: 24px;
  }

  > #arrows {
    display: inline-block;
    position: relative;

    font: 600 12px/inherit $sans-font, $fallback-font;
    text-transform: uppercase;

    color: $gray-color-darkest;

    &::before, &::after {
      content: "";

      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
    }

    &::before {
      right: 110%;

      background: transparent url("/assets/svgs/left-arrow.svg") no-repeat right center;
    }

    &::after {      
      left: 110%;

      background: transparent url("/assets/svgs/right-arrow.svg") no-repeat left center;
    }
  }
}

#top-bar {
  border-bottom: 1px solid $gray-color-light;

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

#social-icons {
  display: flex;
  margin: 0;
  padding: .5rem 0;

  list-style: none;

  border-right: 1px solid $gray-color-light;

  a {
    margin-right: 1rem;

    color: $gray-color;

    &:hover, &:focus {
      color: $gray-color-darkest;
    }
  }
}

#search-input {
  padding: 0 1rem;

  font-family: $sans-font, $fallback-font;
  
  color: $gray-color-darkest;
  background-color: transparent;

  border: none;
  
  outline: none;
}

#search-button {
  padding: 0;

  background-color: transparent;
  color: $gray-color;

  border: none;

  cursor: pointer;
  outline: none;

  > svg {
    margin-bottom: 3px;
  }

  &:hover, &:focus {
    color: $gray-color-darkest;
  }
}