<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="ltr">
  <head>
    {% include head.html %}
  </head>
  <body>
    <noscript>
      <p class="noscript">JavaScript ist in deinem Browser deaktiviert. Einige Funktionen wie das Kontaktformular oder die Bildergalerien benötigen jedoch JavaScript zur korrekten Darstellung. Wenn du diese Funktionen nutzen möchtest, aktiviere bitte JavaScript.</p>
    </noscript>

    {% include header.html %}
    
    {% include navigation.html %}

    {{ content }}
    
    {% include footer.html %}

    {% include scripts.html %}
  </body>
</html>