---
layout: default
---

<div class="container">
  <figure class="hero-banner fancy-image">
    {% include image.html width="1170" height="550" cat="pflegeheim" src="20-01.jpg" %}
    <figcaption class="tile">
      <h1 class="title">{{ page.hero.title }}</h1>
      <p>{{ page.hero.content }}</p>
      <a href="/ueber-uns/" class="more">Erfahre mehr über uns</a>
      <span class="banner" aria-hidden="true">Leo-Clubs</span>
    </figcaption>
  </figure>

  <div class="row">
    {% for section in page.sections %}
      <article class="content-tile grid-3 _center">
        <h2 class="fancy-title">{{ section.title }}</h2>
        <p>{{ section.content }}</p>
        {% if section.link %}
          <a class="more" href="{{ section.link.url }}">{{ section.link.title }}</a>
        {% endif %}
      </article>
    {% endfor %}
  </div>

  <div class="row hero-video">
    <figure class="grid-2 content-tile">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ajktoGpa0s8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </figure>
    <div class="grid-2 content-tile">
      {{ content }}
    </div>
  </div>
</div>