---
layout: sidebar
---

<article class="single-post">
  <header class="header{% if page.thumbnail %} -thumbnail{% endif %}">
    <h1 class="title">{{ page.title }}</h1>
    <time class="date" datetime="{{ page.date | date_to_xmlschema }}">Veröffentlicht am {{ page.date | date: "%d.%m.%Y" }}</time>
    <span class="banner">{{ page.categories }}</span>
  </header>

  {%- if page.thumbnail -%}
    <figure class="thumbnail">
      {%- include image.html width="800" height="450" cat=page.categories src=page.thumbnail class="thumbnail" -%}
    </figure>
  {%- endif -%}

  
  {{ content }}
</article>