---
layout: sidebar
---

<article class="single-post">
  <header class="header{% if page.thumbnail %} -thumbnail{% endif %}">
    <h1 class="title">{{ page.title }}</h1>
    <time class="date" datetime="{{ page.date | date_to_xmlschema }}">Veröffentlicht am {{ page.date | date: "%d.%m.%Y" }}</time>
    <span class="banner">{{ page.categories }}</span>
  </header>

  {%- if page.thumbnail -%}
    <figure class="thumbnail">
      <picture>
        <source srcset="https://res.cloudinary.com/leoclub/image/upload/c_fill,g_center,h_450,w_800/{{ page.categories | first }}/{{ page.thumbnail | replace: '.jpg', '.webp' }}" type="image/webp">
        <img class="image" src="https://res.cloudinary.com/leoclub/image/upload/c_fill,g_center,h_450,w_800/{{ page.categories | first }}/{{ page.thumbnail }}" alt="{{ page.title }}" width="800" height="450">
      </picture>
    </figure>
  {%- endif -%}

  {{ content }}

  <a href="/aktionen/#{{ page.title | slugify }}" class="button">Zurück</a>
  
  {%- if page.gallery -%}
    <figure class="image-gallery -big">
      {%- for image in page.gallery -%}
        {%- include image.html width="250" height="180" cat=page.categories src=image.image -%}
      {%- endfor -%}
    </figure>
  {%- endif -%}
</article>